/* .row {
    border: 1px solid red;
} */

/* .column {
    background-color: wheat;
} */

/* .text-align-right {
    text-align: right;
} */

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

img {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}

#splash-img {
    /* height: calc(100% - 36px); */
    width: auto;
    padding: 3em 0;
}

/* .landing-image-container {
    border: 1px solid blue;
} */

h2 {
    text-align: center;
}

.center-button-container {
    text-align: center;
}

/* p i {
    border: 1px solid black;
    padding: .5em;
    border-radius: 50%;
}

p i:first-of-type {
    padding-left: .7em;
    padding-right: .7em;
}

p i:nth-of-type(2) {
    padding-left: .3em;
    padding-right: .3em;
} */

/* footer {
    background: #2c3e50;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 35px; */
}

#brand {
    font-size: 2.5rem;
    text-decoration: none;
    color: #222;
}

nav h5 {
    margin-bottom: 0;
}

nav ul {
    display: flex;
    margin-bottom: 0;
}

nav li {
    /* border-width: 1rem; */
    /* border-color: white; */
    /* border-style: solid; */
    /* border-radius: 10%; */
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: 10rem;
}

nav li:hover {
    /* border-style: solid; */
    /* border-color: black; */
    /* background-color: lightgray; */
}

nav li a {
    /* font-size: 1.5em; */
    padding: 0.7rem 2rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

nav li a:hover {
    /* background-color: #1EAEDB; */
    background-color: #33C3F0;
    color: white;
}

nav li a:active {
    background-color: #1EAEDB;
}

/* nav li a:hover {
    background-color: gray;
} */

/* Navbar */
/* .topnav {
    overflow: hidden;
    background-color: #333;
  } */
  
/* nav li:last-of-type {
    width: 1em;
} */
  
#menuIcon {
    display: none;

}

.topnav {
    border-bottom: 1px solid lightgray;
}

.topnav div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#buttonRunningOffScreen {
    max-width: 95%;
}

#quote {
    font-style: italic;
}

#quote span {
    float: right;
}

@media screen and (max-width: 774px) {
    .topnav ul {
        display: none;
    }
    #menuIcon {
        /* float: right; */
        display: block;
        align-self: center;
        /* width: 3em; */
        text-align: center;
        padding: .4em 1em;
    }

    .topnav {
        border-bottom: 0;
    }

    .topnav div{
        border-bottom: 1px solid lightgray;
    }
  }
  
  @media screen and (max-width: 774px) {
    .topnav.responsive {
        
    }
    .topnav.responsive {
        flex-direction: column;
    }
    .topnav.responsive ul {
        display: flex;
        flex-direction: column;
        /* text-align: left; */
        width: 100%;
    }

    .topnav.responsive li {
        width: 100%;
        text-align: left;
    }

    .topnav.responsive a {
        text-align: left;
        padding: 0.7rem 0rem;
    }
    /* .topnav {
        display: flex;
        flex-direction: column;
        align-items: unset;
    } */
    
    .topnav.responsive {
        /* position: relative; */
    }
    .topnav.responsive .menuIcon {
        /* position: absolute;
        right: 0;
        top: 0; */
    }
    .topnav.responsive ul {
        /* float: none; */
        /* display: block; */
        /* text-align: left; */
        /* flex-direction: column; */
    }
  
  }